.new-community-view{
    display: block;
    padding: 20px;
}

.new-community-view h1{
    font-size: 24px;
}

.new-community-view div {
    margin-bottom: 15px;;
}

.new-community-view label {
    display:block;
    margin-bottom: 5px;
}

.new-community-view input, .new-community-view textarea {
    width: 100%;
    padding:10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#engender-community{
    background-color: grey;
    color:white;
    border:none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#engender-community:hover{
    background-color: #ff4500;
}

.error{
    color:red;
    font-size:12px;
    margin-top:5px;
    margin-left: 5px;
    display: block;
}
