.welcome-container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    flex-grow: 1; /* Ensures it takes up available space */
    /* max-width: 100%; */
     /* Prevents overflowing the parent width */
    height: 100%; /* Matches the parent's height */
    padding: 20px;
    box-sizing: border-box; /* Consistent sizing with padding */
    overflow-y: auto; /* Adds scroll if content exceeds height */
}


.welcome-container h1 {
    font-size: 36px;
    color: #ff4500;
    margin-bottom: 20px;
}

.welcome-container p {
    font-size: 18px;
    color: #333;
    margin-bottom: 30px;
}

.welcome-buttons {
    display: flex;
    flex-direction: column; 
    align-items: center;    
    gap: 15px;              
    margin-top: 20px;       
}

.button {
    text-decoration: none;
    background-color: grey;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    width: 200px; 
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #ff4500;
}
